.image {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 1px;
  padding: 1px;
}
.slot {
  background-color: rgba(174, 224, 205, 0.363);
  color: rgb(0, 0, 0);
  padding: 10px;
}
.del-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.del-button:hover {
  background-color: #f6f6f6;
  text-decoration: none;
  color: #e2221c;
}
